* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #dee2ff;
}

span,
a {
  display: inline-block;
}

ul li,
ol li {
  list-style: none;
  position: relative;
  display: inline-block;
}
